:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e5e5e5;
  background-color: #232323;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #bdbdbd;
  text-decoration: inherit;
}
a:hover {
  color: #fff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #232323;
  color: #e5e5e5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #f5f5f5;
}

button {
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #333;
  color: #f5f5f5;
  cursor: pointer;
  transition: border-color 0.25s, background 0.25s, color 0.25s;
}
button:hover {
  border-color: #fff;
  background: #444;
  color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto #bdbdbd;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #232323;
    background-color: #f5f5f5;
  }
  a:hover {
    color: #232323;
  }
  button {
    background-color: #e5e5e5;
    color: #232323;
    border-color: #bdbdbd;
  }
  button:hover {
    background: #fff;
    color: #232323;
    border-color: #232323;
  }
}
